<!DOCTYPE html>
<html>
<head>
    <meta charset="{{ _charset }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow" />
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('static/css/app.css') }}" />

    <script src="{{ asset('static/js/app.js') }}"></script>

    {% block head %}{% endblock %}
</head>
<body>

{% include('AppBundle:includes:topmenu.html.twig') %}

<div class="container">

    {% include('AppBundle:includes:breadcrumbs.html.twig') %}

    {% block body %}{% endblock %}

</div>

{% include('AppBundle:includes:bottomnavbar.html.twig') %}

</body>
</html>