<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-right">
            <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('static/img/app/logo.png') }}"/></a>
        </div>
    </div>
</nav>